.footer {
    text-align: center;
    padding: 30px 10px;
    background: #f9fafb;
    font-size: 14px;
    color: #0b0b0b;
    border-top: 1px solid #3b73e2;
}

.footer p {
    margin: 5px 0;
}

h1 {
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 200px
}

p {
    margin-right: 200px;
    margin-left: 576px;
    margin-bottom: 200px;
}